/* 
main color #087f5b
grey color #343a40
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}
.container {
  width: 700px;
  margin: 100px auto;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn {
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 50%;
  border: 1px solid #087f5b;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.btn-icon {
  width: 24px;
  height: 24px;
  color: #087f5b;
}
.btn:hover {
  background-color: #087f5b;
  cursor: pointer;
}
.btn:hover .btn-icon {
  color: #fff;
}
.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #087f5b;
  color: #fff;
}
.dots {
  text-decoration: none;
  color: #868e96;
}
